<a href="https://colab.research.google.com/github/LucasCastrosb/Dados/blob/main/DSAtestes3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
base = float(input("Insira um numero: "))

Insira um numero: 6

In [2]:
altura = float(input("Insira um numero: "))

Insira um numero: 5

In [3]:
area = base * altura

In [4]:
print('Altura é ', altura)

Altura é  5.0

calculadora

In [16]:
num1 = float(input("Insira um numero: "))

Insira um numero: 8

In [20]:
num2 = float(input("Insira um numero: "))

Insira um numero: 0

In [22]:
operação = input("Selecione uma operação (+, -, *, /): ")
if operação == "+":
    resultado = num1 + num2
    print("O resultado é: ", resultado)
elif operação == "-":
    resultado = num1 - num2
    print("O resultado é: ", resultado)
elif operação == "*":
    resultado = num1 * num2
    print("O resultado é: ", resultado)
elif operação == "/":
    resultado = num1 / num2
    print("O resultado é: ", resultado)
else:
    print("Operação inválida")

Selecione uma operação (+, -, *, /): -
O resultado é:  8.0

Bubble Sort

In [46]:
lista2 = [2,4,7,1,5,6,48,13,15,81,51,22]

In [42]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

In [47]:
print(bubble_sort(lista2))

[1, 2, 4, 5, 6, 7, 13, 15, 22, 48, 51, 81]